$font-base: "Raleway", Helvetica, Arial, sans-serif

body
  background: white
  font-family: $font-base
h1, h2, input, select, textarea
  font-family: $font-base
@for $i from 1 through 6
  h#{$i}
    font-weight: 900
.main-layout-transparent
  .mdl-layout__header
    background: linear-gradient(20deg, #4a148c, #b71c1c) no-repeat center center
    background-size: cover
.page-content
  padding: 20px;
  max-width: 720px;
  margin: 0 auto;
.mdl-layout-title
  font-weight: bold;
.mdl-button
  &.mdl-button--colored
    box-shadow: rgba(black, .2) 0 -4px 0 inset
    border-radius: 2px

.rounded-icon
  border-radius: 50%
  background: black
  color: white
  padding: 10px

.icon-48
  font-size: 48px
  vertical-align: middle

.mdl-grid
  &.mdl-grid-negative
    margin: 0 -16px
